{% extends '/pages/account/user/base.html.twig' %}

{% set current_route = app.request.attributes.get('_route') %}

{% block title %}
	{{ parent() }}
	- Mon avatar
{% endblock %}

{# CONTENT #}
{% block content %}

	<div class="col-12 col-md-9">
		<div class="card card-bleed border border-primary shadow-light-lg mb-6">
			{% include('pages/account/user/edit_avatar/content.html.twig') %}
		</div>
	</div>

{% endblock %}
