{% extends 'base/base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Home
{% endblock %}

{% block body %}

	{# CONTENT #}
	<section class="pt-6 pt-md-6">
		<div class="container">
			<div class="row">
				<div class="col-12">
					{% include('pages/app/proposal/content.html.twig') %}
				</div>
			</div>
		</div>
	</section>

{% endblock %}
