<div class="position-fixed center-screen alert-wrapper">
	<div class="alert alert-{{ type }} alert-dismissible custom-alert fade show alert-neumorphism d-flex flex-column text-black" role="alert">
		<div class="flex-grow-1 d-flex align-items-center justify-content-center">
			{{ message }}
		</div>
		<div class="text-center mt-4">
			<button type="button" class="btn btn-primary" data-bs-dismiss="alert">Fermer</button>
		</div>
	</div>
</div>
