{% extends 'base/base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Mot de passe
{% endblock %}

{% block body %}

	{# CONTENT #}
	<section class="pt-6 pt-md-6">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-6 mx-auto">
					{% include('pages/security/reset_password/request/content.html.twig') with {'requestForm': requestForm} %}
					{# FLASH MESASGES #}
					{% for flash_error in app.flashes('reset_password_error') %}
						<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>

{% endblock %}
