<!DOCTYPE html>
<html>
	<head>
		<title>Ta proposition à été refusée !</title>
	</head>
	<body>
		<h1>Ta proposition à été refusée :(</h1>
		<p>Salut :)</p>
		<p>Ta proposition a été refusée ! Rapproche toi d'un admin ici pour plus d'infos :
			<a href="{{ contact_url }}">{{ contact_url }}</a>
		</p>
		<p>Merci beaucoup pour ta contribution, très importante pour la vie du site <3</p>
		<footer>
			<p>A bientôt sur StarCitizenGame.gg !</p>
			<p>Antoine (Admin et développeur)</p>
			<p>
				<a href="{{ website_url }}">{{ website_url }}</a>
			</p>
		</footer>
	</body>
</html>
&
