<!DOCTYPE html>
<html>
	<head>
		<title>Validation d'expression</title>
	</head>
	<body>
		<h1>Nouvelle expression à valider sur StarCitizenGame.gg</h1>
		<p>Salut :)</p>
		<p>Merci de te connecter à
			<a href="{{ admin_url }}">{{ admin_url }}</a>
			pour la valider.</p>
		<footer>
			<p>A bientôt sur StarCitizenGame.gg !</p>
			<p>Antoine (Admin et développeur)</p>
			<p>
				<a href="{{ website_url }}">{{ website_url }}</a>
			</p>
		</footer>
	</body>
</html>
