<!DOCTYPE html>
<html>
	<head>
		<title>Ta proposition à été validée !</title>
	</head>
	<body>
		<h1>Ta proposition à été validée !</h1>
		<p>Salut :)</p>
		<p>Ta proposition a bien été validée ! Merci beaucoup pour ta contribution, très importante pour la vie du site <3</p>
		<footer>
			<p>A bientôt sur StarCitizenGame.gg !</p>
			<p>Antoine (Admin et développeur)</p>
			<p>
				<a href="{{ website_url }}">{{ website_url }}</a>
			</p>
		</footer>
	</body>
</html>
