<!DOCTYPE html>
<html>
	<head>
		<title>Réinitisation de mot de passe</title>
	</head>
	<body>
		<h1>Réinitisation de mot de passe</h1>
		<p>Salut :)</p>
		<p>Pour réinitialiser ton mot de passe, merci de suivre le lien suivant</p>
		<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>
		<p>Ce lien expirera dans
			{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
		<footer>
			<p>A bientôt sur StarCitizenGame.gg !</p>
			<p>Antoine (Admin et développeur)</p>
			<p>
				<a href="https://www.proposal.fr/">https://www.proposal.fr/</a>
			</p>
		</footer>
	</body>
</html>
