{# MENTIONS LEGALES #}
<h2 class="fw-bold">MENTIONS LEGALES</h2>

{# EDITEUR #}
<h3 class="fw-bold mt-8">Editeur :</h3>
<li>Antoine Borda</li>
<li>67000 Strasbourg</li>
<li>dev@antoineborda.com</li>

{# HEBERGEMENT #}
<h3 class="fw-bold mt-4">Hébergement :</h3>
<li>Le Site est hébergé sur les serveurs de Platform.sh SAS</li>
<li>SAS au capital de 717 519,10 €</li>
<li>Siège social : 22 rue de Palestro - 75002 Paris - France</li>
<li>RCS Paris 521 496 59</li>

{# NOM DE DOMAINE #}
<h3 class="fw-bold mt-4">Nom de domaine :</h3>
<li>Le nom de domaine est fourni par OVH</li>
<li>SAS au capital de 10 069 020 €</li>
<li>Siège social : 2 rue Kellermann - 59100 Roubaix - France</li>
<li>RCS Roubaix / Tourcoing 424 761 419 00011</li>
<li>N° de téléphone : 08 203 203 63 - 0.118 €/mn</li>

{# OBJECTIF ET QUALITE DES CONTENUS #}
<h3 class="fw-bold mt-4">Objectif et qualité des contenus :</h3>
<p>Ce site a pour objectif de proposer un environnement participatif, où l'utilisateur pourra consulter, ajouter, noter, et manager des propositions pour le jeu vidéo Star Citizen. Propositions qui à disposition de la coommunauté de joueurs et de développeurs.</p>

{# PROTECTION DES DONNEES PERSONNELLES #}
<h3 class="fw-bold mt-4">Protection des Données Personnelles</h3>
<p>Les informations recueillies sur ce site via les formulaires de contact sont enregistrées dans un fichier informatisé par Antoine Borda. Conformément à la loi « informatique et libertés », vous pouvez exercer votre droit d'accès aux données vous concernant et les faire rectifier en contactant ici :
	<a href="{{ path('app_contact') }}">formulaire de contact</a>.
</p>

{# COOKIES #}
<h3 class="fw-bold mt-4">Cookies :</h3>
<p>Ces cookies permettent aux services principaux du site de fonctionner de manière optimale. Vous pouvez techniquement les bloquer en utilisant les paramètres de votre navigateur mais votre expérience sur le site risque d’être dégradée.</p>
<p>Nous utilisons Matomo Analytics configuré grace aux recommendations de la CNIL, de sorte que nous sommes exempté de la demande de consentements des cookies. Voici le
	<a href="https://www.cnil.fr/fr/cookies-et-autres-traceurs/regles/cookies-solutions-pour-les-outils-de-mesure-daudience">cadre du programme de la CNIL</a>.
</p>

{# MATOMO #}
<h3 class="fw-bold mt-4">Analyse Web avec Matomo :</h3>
<p class="mb-4">Nous utilisons Matomo Analytics pour analyser l'utilisation du site et aider à améliorer l'expérience utilisateur. Matomo collecte des données anonymes sur la navigation des utilisateurs sur le site, telles que le nombre de visiteurs, les pages les plus populaires, et la durée de la visite. Aucune donnée personnelle n'est collectée et toutes les données analytiques sont stockées sur nos propres serveurs, en accord avec les réglementations de protection des données de l'UE.</p>
<div id="matomo-opt-out"></div>
<script src="https://proposal.matomo.cloud/index.php?module=CoreAdminHome&action=optOutJS&divId=matomo-opt-out&language=auto&showIntro=1"></script>

{# CONTACT #}
<h3 class="fw-bold mt-4">Contact :</h3>
<p>Pour toute question ou demande concernant la protection de vos données personnelles, vous pouvez nous contacter via notre
	<a href="{{ path('app_contact') }}">formulaire de contact</a>.</p>
