{% extends 'base/base.html.twig' %}

{% set current_route = app.request.attributes.get('_route') %}

{% block title %}
	{{ parent() }}
	- Administration
{% endblock %}

{% block body %}

	{# HEADER #}
	<section class="bg-primary pt-8 pb-8">
		<div class="container-fluid">
			<div class="row d-flex align-items-center justify-content-between">
				{% include 'pages/account/components/_header.html.twig' with {'page_title': 'ADMIN AREA'} %}
			</div>
		</div>
	</section>

	{# SIDE NAV #}
	<main class="mt-md-n6">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 col-md-3">
					{% include 'pages/account/admin/components/_sidenav.html.twig' with {'current_route': current_route} %}
				</div>
				{# CONTENT #}
				{% block content %}{% endblock %}
			</div>
		</div>
	</main>

{% endblock %}
